# Ignore Files 
thumbnail.png
timestamps.txt

# Ignore File Types 
*.mkv 
*.gslides
*.pdf 
*.pptx 

# Ignore Environments 
opencvEnv
pyenv36 

# Ignore Folders 
54-camera-calibration/thumbnail
__-background-subtraction
tools
thumbnail
video 
